<html lang="zh">
  <head>
      <title>Demo</title>
      <style>
          @import url('./dist/assets/main.css');
      </style>
      <style>
        .scrollSpace {
          height: 2500px;
        }
      </style>
  </head>
  <body class="{{domain}}-scrollbar {{domain}}-scrollbar_leave-hidden {{domain}}-selection">
    <p>Hello world</p>
    <div class="scrollSpace"></div>
  </body>
</html>
