/*
 * @description 基础的全局样式
 * 推荐样式书写排序规范
 * Positioning Model > Box Model > Typographic > Visual 的顺序书写
 * 布局,位置 相关属性包括：position / top / right / bottom / left / z-index / display / float / …
 * 盒模型 相关属性包括：width / height / padding / margin / border / overflow / …
 * 文本排版 相关属性包括：font / line-height / text-align / word-wrap / …
 * 视觉外观 相关属性包括：color / background / list-style / transform / animation / transition / …
 */

@import "modern-normalize/modern-normalize.css";
@import "base/vars";

// CSS variables
$foreground-color: --#{$domain}-foreground-color;
$background-color: --#{$domain}-background-color;
$font-size-base: --#{$domain}-font-size-base;
$line-height-base: --#{$domain}-line-height-base;

html {
  overflow: hidden;
  height: 100vh;
  font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,'Noto Sans',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
  font-size: var($font-size-base, 14px);
  line-height: var($line-height-base, 1.45);
  color: var($foreground-color, #212121);
  background-color: var($background-color, #fff);
}

body {
  overflow: auto;
  height: 100%;
}
