/*
 * @description 基础的全局样式
 * 推荐样式书写排序规范
 * Positioning Model > Box Model > Typographic > Visual 的顺序书写
 * 布局,位置 相关属性包括：position / top / right / bottom / left / z-index / display / float / …
 * 盒模型 相关属性包括：width / height / padding / margin / border / overflow / …
 * 文本排版 相关属性包括：font / line-height / text-align / word-wrap / …
 * 视觉外观 相关属性包括：color / background / list-style / transform / animation / transition / …
 */

@import "modern-normalize/modern-normalize.css";
@import "base/vars";

// CSS variables =====> Start
$foreground-color: --#{$domain}-foreground-color;
$background-color: --#{$domain}-background-color;
// CSS variables =====> End

html {
  overflow: hidden;
  height: 100vh;
  color: var($foreground-color, #212121);
  background-color: var($background-color, #fff);
}

body {
  overflow: auto;
  height: 100%;
}
