@import ".variables";

.{$domain}-clearfix {
  zoom: 1;
  &::after {
    content: "";
    height: 0;
    visibility: hidden;
    display: block;
    clear: both;
  }
}

.{$domain}-selection
  ::selection
    color var(--text_selection, #fff)
    background: var(--text_selection_bg, #1890ff);

.{$domain}-scrollbar {
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background: var(--scrollbar, white)
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 1em;
    background: var(--scrollbar_thumb, rgba(0,0,0,0.40));
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 1em;
    background: var(--scrollbar_track, white);
  }
}
