/**
 * @description 实用工具样式
 */
 @import "base/vars";
 
 $clearfix: #{$domain}-clearfix;
 
// 浮动清除
.#{$clearfix} {
  zoom: 1;

  &::after {
    display: block;
    height: 0;
    content: "";
    visibility: hidden;
    clear: both;
  }
}
